#start-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(Assets/distritofondo.webp);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

#logo {
  width: 50%;
  height: auto;
}

#texto {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

#start-btn {
  font-size: 20px;
  padding: 10px 20px;
  background: rgb(0, 0, 0);
  border: none;
  border-radius: 25px;
  cursor: pointer;
  color: #ffffff;
  margin: 20px;
}
.android {
  font-size: 20px;
  padding: 10px 20px;
  background: rgb(0, 0, 0);
  border: none;
  border-radius: 25px;
  cursor: pointer;
  color: #ffffff;
}
p {
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
  color: rgb(255, 255, 255);
  padding: 0px 30px 0px 30px;
}
img {
  width: 70%;
  margin-bottom: 30px;
  margin-top: -70px;
}


.pdf-overlay {
  position: fixed;
  bottom: 6%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  display: none;
  /* IMPORTANT: oculto por defecto */
  pointer-events: auto;
}

.pdf-btn {
  font-size: 16px;
  padding: 10px 18px;
  background: rgba(0, 0, 0, 0.85);
  color: #fff;
  border: none;
  border-radius: 8px;
}

canvas { touch-action: none; -webkit-user-select: none; user-select: none; }